body {
  padding: 1em;
  background: $body-color;
  font-family: $body-family;
  font-weight: $body-weight;
  font-size: $base-font-size;
  line-height: 1.6;
  color: $text-color;

  &.locked {
    overflow: hidden;
  }
}

input {
  display: block;
  width: 100%;
  padding: 1em;
  border: 0;
  outline: none;
  border-radius: 0;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  font-weight: $headings-weight;
  color: $headings-color;
}


// Break point
// -----------------------------------------------------------------------------

@media (min-width: $break-1) {
  body {
    font-size: $base-font-size-break;
  }
}
