$body-color:       aquamarine;
$body-family:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-weight:      300;
$base-font-size:   18px;
$text-color:       #666;
$headings-weight:  200;
$headings-color:   #333;
