<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <title>Search</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">

  <script src="js/jquery.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/app.js"></script>
</head>
<body>


  <h1>Search GitHub</h1>
  <input id="search" type="text"/>


  <h2>Results</h2>
  <div id="results-container">

    <!-- Underscore Template Definition -->
    <script type="text/template" class="template">

      <ul>
        <% _.each( repositories, function( repositories, index ){ %>

          <li>

            <h2><%- repositories.name %></h2>
            <p><%- repositories.owner %></p>
            <a href="#" id="repo-info" data-index="<%- index %>">Repository Information</a>

          </li>

        <% }); %>
      </ul>

    </script>

  </div>

  <div id="overlay-container">

    <!-- <script type="text/template" class="template">

      <ul>
        <% _.each( repositories, function( repositories, index ){ %>

          <li>

            <h2><%- repositories.name %></h2>
            <p><%- repositories.owner %></p>
            <a href="#" id="more_info" data-index="<%- index %>">Repository Information</a>

          </li>

        <% }); %>
      </ul>

    </script> -->

  </div>
</body>
</html>
